* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;

}
.img-wrapper{
  width: fit-content;
  text-align: center;
  margin: 64px 0 56px;
}
.img{
  margin-bottom: 24px
}.img-name{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.share-btn{
  position: absolute;
  top: 50px;
  right: 20%;
}
@media (max-width: 425px) {
  .card {
    height: 68px !important;
  }
}
